.home-page header{
    background-image: linear-gradient(rgba(5,10,35,0.75),rgba(5,10,35,0.75)), url(../../utils/images/student-learning.jpg);
}
header{
    background-size: cover;
    background-position: center;
}

.hero-header-buttons-container {
    flex: 1;
}

.hero-header-buttons {
    transition: background-color 0.3s ease;
    min-width: 80px;
}

.hero-header-buttons:hover {
    background-color: red !important;
}